* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#is2d {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: auto;
    background-image: url('https://static.htmlpage.cn/editor/images/assets/bg4.jpg');
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
}

.logo path {
    pointer-events: none;
    fill: none;
    stroke-linecap: round;
    stroke-width: 7;
    stroke: rgb(255, 255, 255);
}

.wechat-group img {
    max-width: 220px;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 100%;
}

.welcome-img img {
    width: 100%;
    max-width: 280px;
}

.footer-1 .media-container-row {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    width: 100%;
    color: rgb(122, 122, 122);
}

.footer-1 a {
    color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footer-1 .mbr-text {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
}

.row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.col {
    background-image: url('https://static.htmlpage.cn/editor/images/assets/bg4.jpg');
}

.img-mask.mask-1 img {
    -webkit-mask-image: url("img/blob.svg") !important;
}

.img-mask.mask-2 img {
    -webkit-mask-image: url("img/hex.svg") !important;
}

.img-mask.mask-3 img {
    -webkit-mask-image: url("img/blob2.svg") !important;
}

@font-face {
    font-family:Unicons;src:url("fonts/Unicons.woff2") format("woff2"), url("fonts/Unicons.woff") format("woff");font-weight:400;font-style:normal;font-display:block;
}

@font-face {
    font-family:Custom;src:url("fonts/Custom.woff2") format("woff2"), url("fonts/Custom.woff") format("woff");
}